images/*.jpg
images/*.png
images/*.jpeg
images/for_upload/*
images/campaign-images/*.jpg
images/campaign-images/*.png
images/campaign-images/*.jpeg

# environment tables and secret values
.db_env
.jwt_service
.payment_env